/* Root */
:root {

    /* Colors */
    --dark-orange : #B72F00;
    --green-shade : #50A09F;
    --light-gray : #D9D9D9;
    --white : #FFFFFF;
    --black : #000000;
    --dark-gray : rgba(0, 0, 0, 0.6);
    --background-body : #EBE8E8;

}


/* Styling Page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: var(--background-body);
    font-family: sans-serif;
}


/* Styling Container */
#container-box {
    width: 380px;
    background-color: var(--white);
    margin: 25px auto;
    padding: 60px 30px;
}


/* Styling Contents */

/* Styling Header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px
}

.icon a {
    position: absolute;
    font-size: 1.8rem;
    color: #000000;
    margin-top: -50px;
}

header .logo{
    position: absolute;
    height: 80px;
    margin-top: -30px;
}

/* Styling Image Section */
#image {
    padding: 30px 0;
}

#image #profile-pic {
    width: 100%;
    height: 200px;
    margin: auto;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    border: 3px solid var(--dark-gray);
}

#image #photo {
    width: 100%;
    height: 100%;
}


/* Styling Profile Section */
#profile {
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
}

#profile h1 {
    font-size: 33px;
    font-weight: 700;
}

#profile p {
    font-size: 18px;
    font-weight: 500;
}


/* Styling Settings Section */

a{
    text-decoration: none;
    color: #fff;
    
}

#settings #settings-container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

#settings .settings-box {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 50px;
    padding: 5px 20px 5px 25px;
    background-color: #ffb9a4;
    color: var(--white);
    font-weight: 600;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}

 #color{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 50px;
    padding: 5px 20px 5px 25px;
    color: var(--white);
    font-weight: 600;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    background-color: #b93000;
}

#settings .settings-icon {
    font-size: 28px;
    cursor: pointer;
}


/* Responsiveness */
@media screen and (max-width:500px) {
    /* Styling Container */
    #container-box {
        width: 90%;
    }   

    /* Styling Tasks Section */
    #tasks {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }

    #tasks .task-box {
        width: 240px;
    }

}

@media screen and (max-width:500px) {
    
    header .logo{
    margin-bottom: 60px;
}
    
}    

